<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/analyze" method="POST">
		<textarea name="text" rows="10" cols="50"></textarea> <br>
		<input type="submit", value="Анализировать" />
	</form>
</body>
</html>