<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/analyze" method="POST">
		Текст <br>
		<textarea required name="text" rows="10" cols="50"></textarea> <br><br>
		Объект <br>
		<input type="text"  name="object"></textarea> <br><br>
		<input type="submit", value="Анализировать" />
	</form>
</body>
</html>